<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @twiits.each do |twiit| %>
    <%= render partial:"twiits/twiit", locals:{ twiit: twiit }%>
  <% end %>
  <%= paginate(@twiits) %>
</div>
